h1 {
    font-size: 14px;
    margin-bottom: 3px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    width: 227px;
}

li {
    padding: 2px;
}

button {
    display: inline-block;
    padding: 1px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

button:hover {
    background-color: #286090;
    border-color: #204d74;
}

.switchButton {
    width: 170px;
    margin-right: 2px;
}

.newTabBtn {
    padding: 1px 7px;
    margin-right: 2px;
}

.incognitoBtn {
    background-image: url("incognito.png");
    background-size: 24px;
    border: 0;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}
